#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 20px;
  min-height: 500px;
}

.flex-inline-start {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.flex-inline-start > :last-child {
  flex-grow: 1;
  flex-shrink: 1;
}

.task-list-separator {
  position: absolute;
  width: 15px;
  height: 100%;
  background: #0632dc;
  flex-grow: 0;
  flex-shrink: 0;
}

.task-list-separator--done {
  background: #0c6d0b;
}

input.autocomplete--large.autocomplete--bold {
  font-size: xx-large;
  font-weight: bold;
}

.task-card {
  position: relative;
}

.task-topic {
  cursor: pointer;
}

.task-topic:before {
  content: "▲";
}

.task-topic.task-topic--collapsed:before {
  content: "▼";
}
