<md-dialog style="width: 75%" aria-label="Task card">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <h2>Mango (Fruit)</h2> -->
        <h2>{{ task.name }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelTaskEditor()">
          ✖
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-autocomplete
          md-input-class="autocomplete--large autocomplete--bold"
          md-selected-item="task.userId"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="task.userId = user"
          md-items="user in filterUsersByName(searchText)"
          md-item-text="user.name"
          md-min-length="0"
          placeholder=""
        >
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{
              user.name
            }}</span>
            <!-- <h2>{{ task.userId.name }}</h2> -->
          </md-item-template>
          <md-not-found>
            No states matching "{{ searchText }}" were found.
          </md-not-found>
        </md-autocomplete>
        <md-input-container style="width: 100%;">
          <label for="description01">Description</label>
          <textarea
            ng-model="task.description"
            name="description"
            id="description01"
            cols="30"
            rows="10"
          >
          </textarea>
        </md-input-container>

        <div>
          <label>Importance: {{ task.importance }}</label>
          <md-slider-container flex>
            <md-slider
              ng-model="task.importance"
              min="0"
              max="10"
              aria-label="importance"
              class="md-accent"
              md-horizontal
            ></md-slider>
          </md-slider-container>
        </div>

        <p>{{ task.description }}</p>
        <md-switch ng-model="task.done" aria-label="done"> done </md-switch>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelTaskEditor(task)"> OK </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
