<div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline"> Tasks list </span>
    </md-card-title-text>
  </md-card-title>

  <md-card ng-repeat="task in tasks">
    <div
      ng-class="task.collapsed ? 'md-headline task-card task-card--collapsed' : 'md-headline task-card'"
    >
      <div
        ng-class="task.done ? 'task-list-separator task-list-separator--done' : 'task-list-separator'"
      ></div>
      <div style="padding-left: 15px;">
        <md-card-title>
          <md-card-title-text>
            <span
              ng-click="collapseTask(task)"
              ng-class="task.collapsed ? 'md-headline task-topic task-topic--collapsed' : 'md-headline task-topic'"
            >
              {{ task.name }}
            </span>
            <span ng-if="task.collapsed" class="md-subhead">{{task.description}}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content ng-if="task.collapsed">
          <div ng-if="!!task.userId.name">Responsible: {{ task.userId.name }}</div>
          <div ng-if="!!task.done">Execution status: {{ task.done }}</div>
          <div ng-if="!!task.importance">Importance: {{ task.importance }}</div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="start center">
          <md-button ng-click="showTaskEditor($event, task)">EDIT</md-button>
          <md-button ng-click="deleteTask($event, task)">DELETE</md-button>
        </md-card-actions>
      </div>
    </div>
  </md-card>
</div>
